<div class="todos__wrap">
  <ul *ngIf="todosService.todos.length; else noTodos">
    <li class="todos__list-item" *ngFor="let todo of todosService.todos; let i = index">
      <mat-card [class.done]="todo.complete">

        <mat-card-subtitle>
          <mat-checkbox [checked]="todo.complete" class="todos__list-checkbox" (change)="onChange(todo.id)">
            <b>{{i+1}}</b>
          </mat-checkbox>
        </mat-card-subtitle>

        <mat-card-content>
          <span class="todos__list-title">{{todo.title}}</span>
        </mat-card-content>

        <mat-card-actions>
          <button class="todo__button" mat-raised-button color="primary" (click)="removeTodo(todo.id)">
            <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
          </button>
          <button class="todo__button" mat-raised-button color="warn" (click)="onEditClickHandler(todo.id)">
            <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card>
    </li>
  </ul>

  <ng-template #noTodos>
    <p class="message__empty">todo list is empty</p>
    <button mat-raised-button color="warn" (click)="refresh()">
      <mat-icon aria-hidden="false" aria-label="refresh icon">refresh</mat-icon>
    </button>
  </ng-template>
</div>
