.todos__list-item {
    min-height: 140px;
    margin-bottom: 10px;
    position: relative;
    overflow-x: auto;
}
.todos__list-title {
    font-size: 1.6em;
    margin-left: 20px;
    overflow-x: auto;
}
.done {
    opacity: 0.95;
    background-color: #706d6d;
   .todos__list-title {
    text-decoration: line-through;
   }
}
.message__empty {
    color: #ffffff;
    font-size: 1.4em;
}