.form__wrap{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 800px;
    padding-left: 30px;
    padding-top: 25px;
    background: #8a8a8a;
    border-radius: 0 0 10px 10px;
}
.button-add {
    margin: 0 20px;
}